header{
    paddind: 20px;
}

body{ 
    background-color: rgb(44, 43, 88);
    color: rgb(53, 49, 44);
    font-family: "Mulish", sans-serif;
    font-size: 30px;
    }
    h1 {
    font: 20px;
 } 
p{
    font- size: 8px;
 }
